@import '../../styles/customMediaQueries.css';

.root {
  width: 100%;
}

.noImageContainer {
  background-color: #f4f5f7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
