{:format :v3,
 :transitions
 [{:name :transition/inquire,
   :actor :actor.role/customer,
   :actions [{:name :action/update-protected-data}],
   :to :state/inquiry}
  {:name :transition/accept-offer,
   :actor :actor.role/provider,
   :actions [{:name :action/update-protected-data}],
   :from :state/inquiry,
   :to :state/accepted,
   :privileged? true}
  {:name :transition/decline-offer,
   :actor :actor.role/provider,
   :actions [],
   :from :state/inquiry,
   :to :state/declined,
   :privileged? true}
  {:name :transition/complete,
   :actor :actor.role/provider,
   :actions [],
   :from :state/accepted,
   :to :state/completed,
   :privileged? true}
  {:name :transition/review-1-by-provider,
   :actor :actor.role/provider,
   :actions [{:name :action/post-review-by-provider}],
   :from :state/completed,
   :to :state/reviewed-by-provider}
  {:name :transition/review-2-by-provider,
   :actor :actor.role/provider,
   :actions
   [{:name :action/post-review-by-provider}
    {:name :action/publish-reviews}],
   :from :state/reviewed-by-customer,
   :to :state/reviewed}
  {:name :transition/review-1-by-customer,
   :actor :actor.role/customer,
   :actions [{:name :action/post-review-by-customer}],
   :from :state/completed,
   :to :state/reviewed-by-customer}
  {:name :transition/review-2-by-customer,
   :actor :actor.role/customer,
   :actions
   [{:name :action/post-review-by-customer}
    {:name :action/publish-reviews}],
   :from :state/reviewed-by-provider,
   :to :state/reviewed}
  {:name :transition/expire-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/completed]}
     {:fn/period ["P7D"]}]},
   :actions [],
   :from :state/completed,
   :to :state/reviewed}
  {:name :transition/expire-provider-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/completed]}
     {:fn/period ["P7D"]}]},
   :actions [{:name :action/publish-reviews}],
   :from :state/reviewed-by-customer,
   :to :state/reviewed}
  {:name :transition/expire-customer-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/completed]}
     {:fn/period ["P7D"]}]},
   :actions [{:name :action/publish-reviews}],
   :from :state/reviewed-by-provider,
   :to :state/reviewed}],

 :notifications
 [{:name :notification/new-offer,
   :on :transition/inquire,
   :to :actor.role/provider,
   :template :new-inquiry}
  ;; Cancelled automatically if the task author accepts or declines within a day.
  {:name :notification/new-offer-reminder,
   :on :transition/inquire,
   :to :actor.role/provider,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/inquiry]}
     {:fn/period ["P1D"]}]},
   :template :new-inquiry-reminder}
  {:name :notification/offer-accepted,
   :on :transition/accept-offer,
   :to :actor.role/customer,
   :template :offer-accepted}
  {:name :notification/offer-declined,
   :on :transition/decline-offer,
   :to :actor.role/customer,
   :template :offer-declined}
  {:name :notification/work-completed,
   :on :transition/complete,
   :to :actor.role/customer,
   :template :work-completed}
  {:name :notification/review-by-provider-first,
   :on :transition/review-1-by-provider,
   :to :actor.role/customer,
   :template :review-by-provider-first}
  {:name :notification/review-by-customer-first,
   :on :transition/review-1-by-customer,
   :to :actor.role/provider,
   :template :review-by-customer-first}
  {:name :notification/review-by-provider-second,
   :on :transition/review-2-by-provider,
   :to :actor.role/customer,
   :template :review-by-provider-second}
  {:name :notification/review-by-customer-second,
   :on :transition/review-2-by-customer,
   :to :actor.role/provider,
   :template :review-by-customer-second}]}

