.root {
  margin: 24px 0;
}

.label {
  font-size: 13px;
  font-weight: var(--fontWeightRegular);
  line-height: 18px;
  color: var(--colorGrey700);
}

.link {
  color: var(--marketplaceColor);
  text-decoration: underline;
}

.hint {
  margin: 6px 0 0 30px;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  color: var(--colorGrey500);
}
