@import '../../styles/customMediaQueries.css';

.layoutWrapperMain {
  min-height: calc(100vh - var(--topbarHeight));

  @media (--viewportMedium) {
    min-height: calc(100vh - var(--topbarHeightDesktop));
  }
}

.root {
  flex-grow: 1;
}

.contentContainer {
  composes: marketplaceModalRootStyles from global;
}

.content {
  composes: marketplaceModalBaseStyles from global;
}

.title {
  composes: marketplaceModalTitleStyles from global;
}

.loginRequiredText {
  composes: marketplaceModalParagraphStyles from global;
  margin-bottom: 24px;
}

.loginLink {
  composes: buttonPrimary from global;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.error {
  composes: marketplaceModalPasswordMargins from global;
}
